.Input {
    width: 100%;
    border: 2px solid royalblue;
    margin: 16px 8px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
}

.Input input {
    width: inherit;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: inherit;
}