.InputDropArea {
    margin: 0;
    padding: 16px;
    width: inherit;
    height: 250px;
    background-color: lavender;
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;*/
}